# Boletim Focus

Importe o m√≥dulo local 'focus'.

In [1]:
%run focus.py

Defina a periodicidade das expectativas para os indidadores da pesquisa:
*time_expect = 'm', 'mensal', 'monthly' ou 'a', 'anual', 'annual'*

In [2]:
fc = Focus(time_expect="annual")

Carregue as expectativas para os principais indidadores ("IGP-M", "IPCA", "SELIC", "USDBRL") da pesquisa.

In [3]:
focus = fc.get()

In [4]:
focus.head()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number,calc_base
indicator,,,,,,,,,,
IPCA,2018-01-24,2021-01-01,4.00,4.0,0.21,5.25,3.50,5.00,84.0,0
IGP-M,2018-01-22,2019-01-01,4.33,4.3,0.34,7.85,3.64,5.50,53.0,0
IGP-M,2018-01-22,2020-01-01,4.23,4.0,0.32,7.57,3.75,5.10,45.0,0
IGP-M,2018-01-22,2021-01-01,4.16,4.0,0.34,8.17,3.75,5.10,38.0,0
IGP-M,2018-01-22,2018-01-01,4.53,4.5,0.57,12.58,3.25,6.55,67.0,0

In [5]:
focus.tail()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number,calc_base
indicator,,,,,,,,,,
USDBRL,2021-02-17,2024-01-01,5.05,5.05,0.25,4.95,4.80,5.30,2.0,0
USDBRL,2021-02-17,2021-01-01,5.20,5.26,0.26,5.00,4.86,5.49,3.0,0
USDBRL,2021-02-17,2025-01-01,4.90,4.90,0.10,2.04,4.80,5.00,2.0,0
USDBRL,2021-02-17,2022-01-01,5.05,5.05,0.25,4.95,4.80,5.30,2.0,0
USDBRL,2021-02-17,2023-01-01,5.05,5.05,0.25,4.95,4.80,5.30,2.0,0

Ou escolha indicadores espec√≠ficos e data a partir da qual deseja visualizar as proje√ß√µes.
Conhe√ßa a lista de indicadores dispon√≠veis:

**Anual e mensal**
- IGP-DI
- IGP-M
- INP-C
- IPA-DI
- IPA-M
- IPCA
- IPCA-15
- IPC-FIPE
- SELIC - Selic Meta
- INDUSTRIA - Produ√ß√£o Industrial
- USDBRL

**Anual**
- BC - Balan√ßa Comercial
- BP - Balan√ßo de Pagamentos
- FISCAL - Fiscal
- PIB_AGRO - PIB Agropecu√°ria
- PIB_INDU - PIB Industrial
- PIB_SERV - PIB Servi√ßos
- PIB - PIB Total
- PADM - Pre√ßos Administrados

In [6]:
focus_selic = fc.get(indicator=["SELIC"], start_date="2018-01-02")

In [7]:
focus_selic.tail()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number,calc_base
indicator,,,,,,,,,,
SELIC,2021-02-12,2023-01-01,5.70,5.75,0.87,15.26,4.00,6.75,10.0,0
SELIC,2021-02-17,2024-01-01,5.00,5.00,1.00,20.00,4.00,6.00,2.0,0
SELIC,2021-02-17,2021-01-01,2.81,2.66,0.36,12.81,2.47,3.31,3.0,0
SELIC,2021-02-17,2022-01-01,4.29,4.00,0.50,11.66,3.88,5.00,3.0,0
SELIC,2021-02-17,2023-01-01,4.75,4.75,0.75,15.79,4.00,5.50,2.0,0

In [8]:
focus_ipca = fc.get(["IPCA"], "2018-01-02")

In [9]:
focus_ipca.tail()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number,calc_base
indicator,,,,,,,,,,
IPCA,2021-02-19,2024-01-01,3.19,3.25,0.20,6.27,3.00,3.90,67.0,1
IPCA,2021-02-19,2021-01-01,3.82,3.85,0.31,8.12,2.46,4.61,100.0,1
IPCA,2021-02-19,2025-01-01,3.17,3.00,0.21,6.62,2.99,3.85,60.0,1
IPCA,2021-02-19,2022-01-01,3.39,3.48,0.24,7.08,2.29,4.03,95.0,1
IPCA,2021-02-19,2023-01-01,3.28,3.25,0.17,5.18,2.80,4.00,76.0,1

In [10]:
focus_inflacao = fc.get(["IGP-M", "INP-C", "IPCA", "IPC"], "2018-01-02")

In [11]:
focus_inflacao.tail()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number,calc_base
indicator,,,,,,,,,,
IPCA,2021-02-19,2024-01-01,3.19,3.25,0.20,6.27,3.00,3.90,67.0,1
IPCA,2021-02-19,2021-01-01,3.82,3.85,0.31,8.12,2.46,4.61,100.0,1
IPCA,2021-02-19,2025-01-01,3.17,3.00,0.21,6.62,2.99,3.85,60.0,1
IPCA,2021-02-19,2022-01-01,3.39,3.48,0.24,7.08,2.29,4.03,95.0,1
IPCA,2021-02-19,2023-01-01,3.28,3.25,0.17,5.18,2.80,4.00,76.0,1

### Focus Top 5

Expectativas das institui√ß√µes que pertencem ao top 5 no ranking do Focus.

In [12]:
fc_top5 = FocusTop5(time_expect="monthly")

In [13]:
focus_top5 = fc_top5.get()

In [14]:
focus_top5.tail()

,date,reference_date,reference_year,reference_month,mean,median,sd,var_coeficient,min,max
indicator,,,,,,,,,,
USDBRL,2021-02-19,2022-03-01,2022,3,"5,26","5,25","0,18","3,42",5,"5,54"
USDBRL,2021-02-19,2021-04-01,2021,4,"5,35","5,32","0,08","1,5","5,25","5,45"
USDBRL,2021-02-19,2022-04-01,2022,4,"5,29","5,3","0,18","3,4",5,"5,55"
USDBRL,2021-02-19,2022-10-01,2022,10,"5,33","5,37","0,21","3,94",5,"5,6"
USDBRL,2021-02-19,2022-01-01,2022,1,"5,23","5,25","0,18","3,44",5,"5,52"

### Focus PIB

Expectativa para o crescimento trimestral do PIB.

In [15]:
focus_pib = FocusPIB().get()

In [16]:
focus_pib.head()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number
indicator,,,,,,,,,
PIB Servi√ßos,2018-01-30,2017-04-01,"1,84","1,98","0,66","35,87",0,"2,8",12.0
PIB Agropecu√°ria,2018-01-22,2019-01-01,"2,83","2,68","0,56","19,79","2,11",4,7.0
PIB Agropecu√°ria,2018-01-22,2017-04-01,"3,83","3,45","3,48","90,86",-2,"10,7",14.0
PIB Agropecu√°ria,2018-01-22,2018-01-01,"-0,77","-0,5","4,67","-606,49","-7,26",7,13.0
PIB Agropecu√°ria,2018-01-22,2018-03-01,"1,56","1,8","2,75","176,28","-3,9","5,5",13.0

In [17]:
focus_pib.tail()

,date,reference_date,mean,median,sd,var_coeficient,min,max,respondents_number
indicator,,,,,,,,,
PIB Total,2021-02-19,2022-03-01,"2,47","2,5","0,61","24,7","0,5","3,75",42.0
PIB Total,2021-02-19,2021-02-01,"9,57",10,"1,94","20,27",3,"12,6",57.0
PIB Total,2021-02-19,2022-02-01,"2,37","2,48","0,99","41,77","-1,31",5,42.0
PIB Total,2021-02-19,2022-01-01,"2,46","2,5","0,89","36,18","0,4","4,75",45.0
PIB Total,2021-02-19,2021-04-01,"2,12","2,2","1,15","54,25","-0,3","4,73",57.0

In [18]:
# focus_selic.to_excel("focus_selic.xlsx", index=False)